.home{
    height: 90vh;
    width: 100vw;
    border :none;
    display: flex;
    position: fixed;
}
#navbar{
    background-color: #242933;
    color: #ec4c56;
    font-size: 24px;
    padding: 5px ;
}

.filter{
    height: 100%;
    background-color: #596172;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter ul{
   /* margin: 0 auto; */
   height: 200px;
   width: 100%;
    display: flex;
    flex-direction: column;
}
.list{
    margin: 0 auto;
}
Link{
    margin: 0 auto;

}
.products{
    min-height: 100%;
    width: 80vw;
    background-color: rgb(212, 247, 209);
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    
}

.pro-items{
    width: 150px;
    height: 200px;
    background-color: darkmagenta;
    margin: 10px;

}